- current_event ||= nil
#event_points
  - events = (current_event && current_event.latitude.present? && current_event.longitude.present?) ? (trip.events + [current_event]).uniq : trip.events
  - events.each do |event|
    - if event.latitude.present? && event.longitude.present?
      - class_name = event == current_event ? 'current' : ''
      .point{:class => class_name}
        .lng= event.longitude
        .lat= event.latitude
        .id= event.id.to_s
#map
  