/* CSS reset (adapted from Blueprint CSS 0.81) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
/* Remove quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* Remove border on linked images. */
a img { border: none; }

ul li, ol li, img { vertical-align: bottom; } /* IE6-7 margin bugfix */
/* end CSS reset */

h1, h2, h3, h4, h5, h6, p { margin: 6px 0 0 0; }
body { line-height: 1.5; }

/* Main application stylesheet */
/* general tag styles */
body {
  background-color: #f8e9e1;
  text-align: center;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0px;
}

li, dd, blockquote { margin-left: 0px; list-style: none; }

a, a:visited { color: #5f5f5f; text-decoration: underline; }
a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6 { font-size: 14px; font-weight: bold; color: #eb6929; line-height: 1; margin-bottom: 0.5em; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: left; font-weight: bold; }

/* useful general styles */
.hide { display: none; }
.bold { font-weight: bold; }
.left { float: left; }
.clear { clear: both; }
.center  { text-align: center; }
ol.alpha { list-style-type: lower-alpha; }

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    display: block;
}

/* general form style */
form {
  width: 300px;
}
form li {
  margin-bottom: 5px;
}

form li label {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

form li input[type=text], form li input[type=email], form li input[type=password] {
  width: 100%;
  color: #222;
  line-height: 140%;
  font-size: 18px;
}

form li input[type=text]:focus, form li input[type=email]:focus, form li input[type=password]:focus {
  background: #f8e9e1;
}

form li textarea {
  font-size: 18px;
  padding: 4px;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

form input[type=submit] {
  color: #efefef;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 2px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0, 0.2)), color-stop(0.6, rgba(255,255,255,0.2)), color-stop(0.7, rgba(255,255,255, 0.32)), color-stop(1, rgba(255,255,255, 0.2)));
  background: -moz-linear-gradient(center bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 60%, rgba(255,255,255, 0.32) 70%, rgba(255,255,255,0.2) 100%);
  background-color: #eb6929;
}

form input[type=submit]:hover {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255,255,255, 0.2)), color-stop(0.6, rgba(255,255,255, 0.32)), color-stop(0.7, rgba(255,255,255,0.2)) color-stop(1, rgba(0,0,0, 0.2)));
  background: -moz-linear-gradient(center bottom, rgba(255,255,255,0.2) 0%, rgba(255,255,255, 0.32) 60%, rgba(255,255,255,0.2) 70%, rgba(0,0,0,0.2) 100%);
  background-color: #eb6929;
}

/* devise forms used in signup and sign in */
form.devise_form {
  margin-top: 20px;
}

form.devise_form p.field {
  margin-bottom: 10px;
}

form.devise_form label {
  color: #000;
}

form.devise_form input[type=text], form.devise_form input[type=email], form.devise_form input[type=password] {
  width: 100%;
  color: #222;
  line-height: 140%;
  font-size: 16px;
}

form.devise_form input[type=text]:focus, form.devise_form input[type=email]:focus, form.devise_form input[type=password]:focus {
  background: #f8e9e1;
}

/* form errors */
#errorExplanation, #error_explanation {
  background-color: #ffbdbd;
  border: 1px solid #fe0000;
  padding: 10px;
  color: #333;
}

#errorExplanation h2, #error_explanation h2 {
  color: #ff121d;
  font-size: 16px;
  margin: 0px;
}

#errorExplanation li, #error_explanation li {
  margin: 2px 0px 2px 20px;
  list-style-type: disc;
}

form li.error input, form .field_with_errors input {
  border: 1px solid #fe0000;
}
form li.error p.inline-errors {
  color: #ff121d;
}

/* flash style */
#flash {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0px;
  margin-left: -170px;
  width: 300px;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #fff;
  border-top: none;
  background: #cd0000;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

/* outer container styles */
#header-wrapper, #wrapper {
  margin: auto;
  margin-top: 0px;
  width: 960px;
  overflow: hidden;
}

#wrapper {
  position: relative;
  top: -4px;
  width: 970px;
  padding: 5px;
}

/* header */
#header-outer {
  background: transparent url(/images/header-bg.png) top left repeat-x;
  height: 64px;
  border-bottom: 1px solid #616161;
  box-shadow: 0px 0px 3px #000;
  -moz-box-shadow: 0px 0px 3px #000;
  -webkit-box-shadow: 0px 0px 3px #000;
}

#header {
  width: 960px;
  height: 64px;
  text-align: left;
  position: relative;
  z-index: 500;
  overflow: hidden;
}

#header #logo {
  float: left;
  width: auto;
  height: 46px;
  line-height: 46px;
  margin-top: 9px;
  padding: 0px 8px;
  color: #EEE;
  font-size: 33px;
  font-style: italic;
  text-shadow: #957A5C 1px -1px 2px;
  text-decoration: none;
  background-color: #eb6a29;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
  box-shadow: 0px 0px 5px #EB6A29; -moz-box-shadow: 0px 0px 5px #EB6A29; -webkit-box-shadow: 0px 0px 5px #EB6A29;
}

#header #logo:hover {
  box-shadow: 0px 0px 0px #EB6A29; -moz-box-shadow: 0px 0px 0px #EB6A29; -webkit-box-shadow: 0px 0px 0px #EB6A29;
}

/* content_for_layout container */
#main-content {
  width: 960px;
  min-height: 500px;
  color: #696969;
  text-align: left;
  background: #efefef url(/images/main-content-gradient-bg.png) bottom left repeat-x;
  border: 1px solid #cdcccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: relative;
  z-index: 5;
  margin-top: -4px;
}

#main-content-inner {
  width: 940px;
  padding: 10px 10px;
  overflow: hidden;
  position: relative;
}

#sidebar {
  width: 250px;
  padding: 7px 10px;
  float: right;
}

/* navbar */
#main-navbar {
  position: absolute;
  bottom: 8px;
  right: 0px;
}

#main-navbar li {
  float: left;
  display: inline-block;
  margin: 0px 4px;
}

#main-navbar li a {
  color: #aaa;
  text-decoration: none;
  background-color: #222;
  border: 1px inset #000;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 12px;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#main-navbar li a:hover {
  color: #fff;
  background-color: #eb6929;
  border: 1px outset #e66323;
  text-decoration: none;
}

/* authentications */
#authentications {
  float: right;
  padding: 7px 20px 20px;
  border-left: 1px solid #333;
  width: 500px;
  min-height: 300px;
  font-weight: bold;
}

#authentications.plain {
  float: none;
  border: none; 
  min-height: 0px;
  overflow: hidden;
}

#authentications ul li {
  float: left;
  margin: 0px 8px 8px;
  text-align: center;
}

#authentications ul li a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  text-align: center;
}

/* trips index */
#trips li {
  float: left;
  position: relative;
  width: 430px;
  height: 110px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: url(/images/trip-default-bg.jpg);
  /*background-color: #f8eae1;*/
  border: 1px outset #ccc;
  cursor: pointer;
  border-radius: 5px 55px; -moz-border-radius: 5px/55px; -webkit-border-radius: 5px 55px;
}

#trips li:nth-child(even) {
  margin-right: 0px;
}

#trips li:hover {
  border: 1px outset #eb6929;
  box-shadow: 0px 0px 5px #eb6929;
  -moz-box-shadow: 0px 0px 5px #eb6929;
  -webkit-box-shadow: 0px 0px 5px #eb6929;
}

#trips li.new_trip {
  background: #fff;
}

#trips li.new_trip a {
  display: block;
  color: #555;
  text-decoration: none;
  font-size: 24px;
  line-height: 110px;
  width: 100%;
  text-align: center;
}

#trips li.new_trip a:hover {
  text-shadow: none;
}

#trips li a {
  display: block;
  float: left;
  height: 110px;
  width: 100%;
  text-decoration: none;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0,0,0, 0.2)), color-stop(0.6, rgba(255,255,255,0.2)), color-stop(0.7, rgba(255,255,255, 0.4)), color-stop(1, rgba(255,255,255, 0.2)));
  background: -moz-linear-gradient(center bottom, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0.2) 60%, rgba(255,255,255, 0.4) 70%, rgba(255,255,255,0.2) 100%);
  border-radius: 5px 55px; -moz-border-radius: 5px/55px; -webkit-border-radius: 5px 55px;
}

#trips li h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 24px;
  color: #000;
  line-height: 50px;
  margin: 0px;
  padding: 0px 20px;
  width: 390px;
}

#trips li .description {
  display: none;
}



/* trip show */
#trip_description {
  min-height: 30px;
}

#trip_details_actions {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eb6929;
  padding: 5px 0px;
  margin-bottom: 20px;
}

#trip_actions {
  right: 20px;
  top: 0px;
  height: 30px;
  position: absolute;
}

.trip_button {
  float: right;
  margin-left: 10px;
  display: block;
  text-indent: -999em;
}

#play_trip_button {
  background: transparent url(/images/play_button-off.png) top left no-repeat;
  width: 98px;
  height: 30px;
}

#play_trip_button:hover, #play_trip_button:active {
  background-image: url(/images/play_button-on.png);
}

#share_trip_button {
  background: transparent url(/images/share_button-off.png) top left no-repeat;
  width: 120px;
  height: 30px;
}

#share_trip_button:hover, #share_trip_button:active {
  background-image: url(/images/share_button-on.png);
}

/* event list */
ul#events>li, #new_event_wrapper {
  margin: 10px 0px;
  padding: 0px 10px 0px 20px;
  width: 330px;
  background-color: #eaebeb;
  position: relative;
  border: 2px solid #666565;
  border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}

ul#events>li {
  /* background properties split out like this because
    we want to use the highlight effect and have a background image
    at the same time */
  background-position: top left !important;
  background-repeat: repeat-y !important;
  background-image: url(/images/handle-bg.png) !important;
}

#new_event_wrapper {
  background-image: none;
  padding-left: 10px;
  padding-bottom: 20px;
  width: 340px;
}

ul#events>li .handle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 100%;
  cursor: move;
}

ul#events>li .ajax_loading, #new_event_wrapper.reloading .ajax_loading, .ajax_loading {
  background: transparent url(/images/ajax-loader.gif) center center no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
}

ul#events>li.reloading .ajax_loading, #new_event_wrapper.reloading .ajax_loading {
  display: block;
}

ul#events>li.reloading, #new_event_wrapper.reloading {
  opacity: 0.4;
}

ul#events>li:hover, ul#events>li:active, #new_event_wrapper:hover, ul#events>li.drophover {
  border-color: #eb6929;
}

ul#events .form_buttons, #new_event_wrapper .form_buttons {
  position: absolute;
  bottom: 0px;
  right: 8px;
}

ul#events form, #new_event_wrapper form {
  width: 100%;
}

ul#events form li, #new_event_wrapper form li {
  float: left;
  width: 340px;
}

ul#events form li input[type=text] {
  width: 325px;
}

#new_event_wrapper li input[type=text] {
  width: 335px;
}

ul#events form li textarea {
  width: 320px;
}

form.event .error {
  color: #ff0000;
  font-weight: bold;
}

#new_event_wrapper li textarea {
  width: 330px;
}

ul#events li.datetime_picker, #new_event_wrapper li.datetime_picker {
  float: left;
  width: 155px;
}

#new_event_wrapper li.datetime_picker {
  width: 160px;
}

input.datetime_picker {
  width: 100% !important;
  font-size: 13px !important;
}

li.datetime_picker.dates_separator {
  width: auto !important;
  font-size: 11px;
  margin: 0px 5px;
  line-height: 20px;
  text-align: center;
}

li.event.positionless a.zoom_event_button {
  display: none;
}

li.event.positionless .marker {
  float: right;
  width: 12px;
  height: 20px;
  background: transparent url("http://labs.google.com/ridefinder/images/mm_20_red.png") top left no-repeat;
  cursor: pointer;
}

form.event #event_transport_mode_input label {
  float: left;
  width: auto;
  font-size: 12px;
  line-height: 24px;
}

form.event #event_transport_mode_input select {
  float: left;
}

/* items within events */
.items {
  overflow: hidden;
  margin: 6px 0px;
  padding: 6px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.items li.photo_item {
  float: left;
  margin: 3px;
  font-size: 10px;
  text-align: center;
}

ul#events .items li.photo_item.ajax_loading {
  display: block;
  position: static;
  width: 60px;
  height: 60px;
}

li.photo_item p {
  margin-top: 0px;
}

/* tool tabs */
#tool_tabs {
  width: 480px;
  float: right;
  margin-right: 10px;
}

ul#tool_tabs_list {
  width: 100%;
  border-bottom: none;
}

ul#tool_tabs_list li {
  float: right;
}

ul#tool_tabs_list li a {
  font-size: 14px;
  padding: 1px 12px;
  font-weight: bold;
  background-color: #cFcFcF;
}

ul#tool_tabs_list li a:hover, ul#tool_tabs_list li.ui-state-active a {
  background-color: #5F5F5F;
  color: #fff;
}

#tool_tabs .tool_tab_content {
  height: 480px;
  border-color: #5F5F5F;
  border-style: solid;
  border-width: 2px 1px 1px;
}

/* photos tool */
#photos_tool {
  overflow: auto;
}

ul#photo_providers_tabs {
  background-color: #5F5F5F;
}

ul#photo_providers_tabs li {
  margin: 2px 5px 0px;
}

ul#photo_providers_tabs li a {
  border: 2px solid transparent;
}

ul#photo_providers_tabs li a:hover, ul#photo_providers_tabs li.ui-state-active a {
  border: 2px solid #eb6a29;
}

.album {
  padding: 0px 5px;
}

.album h2 {
  font-size: 16px;
  margin-left: 3px;
}

.album.ajax_loading {
  top: 40px;
  display: block;
  height: 400px;
  width: 450px;
}

/* anytime datepicker overrides */
.AnyTime-win {
  z-index: 3000;
}

/* maps */
body#body-trips-show #map_wrapper {
  width: 480px;
}

body#body-trips-show #map {
  width: 480px;
  height: 480px;
  position: relative;
}

body#body-trips-play #main-content {
  height: 60px;
  min-height: 60px;
}

body#body-trips-play #map {
  width: 100%;
  position: absolute;
  top: 64px;
  z-index: -1 !important;
}

body#body-trips-show #map.drophover {
  border: 1px outset #eb6929;
  box-shadow: 0px 0px 15px #eb6929;
  -moz-box-shadow: 0px 0px 15px #eb6929;
  -webkit-box-shadow: 0px 0px 15px #eb6929;
}

body#body-trips-play #event_info_container {
  width: 350px;
  max-height: 700px;
  background-color: #efefef;
  border: 1px solid #cdcccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: absolute;
  left: 50%;
  margin-left: -185px;
  top: 200px;
  overflow: scroll;
  padding: 10px;
  text-align: left;
}

body#body-trips-play #event_info_container h2 {
  cursor: move;
}

body#body-trips-play .map_navigation {
  display: none;
  border: 1px solid #000;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 0px 0px 2px #777571; -moz-box-shadow: 0px 0px 2px #777571; -webkit-box-shadow: 0px 0px 2px #777571;
  height: 30px;
  width: 640px;
  padding: 10px;
  background-color: #777571;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -320px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(115,115, 115)), color-stop(1, rgb(106,106,106)));
  background: -moz-linear-gradient(center bottom, rgb(115,115,114) 0%, rgb(106,106,106) 100%);
}

body#body-trips-play .map_navigation.active {
  display: block;
}

.map_navigation .event_nav_button {
  float: left;
  width: 160px;
  height: 25px;
  float: left;
  padding: 0px;
  margin-top: 2px;
}


.map_navigation .event_nav_button a {
  float: left;
  color: #e3e3e3;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.map_navigation .event_nav_button a.arrow {
  display: inline-block;
}

.map_navigation .event_nav_button .name {
  width: 131px;
}

.map_navigation .current_event {
   width: 320px;
   float: left;
}

.map_navigation .current_event h2, .map_navigation .current_event h2 a {
  color: #e3e3e3;
  margin: 0px;
  font-size: 24px;
  text-decoration: none;
}

.map_navigation .current_event .time {
  color: #e3e3e3;
  margin: 0px;
  font-size: 11px;
}

.map_navigation .current_event_id, .map_navigation .event_id  { display: none; }

.map_navigation .next_event {
  text-align: right;
}

.map_navigation a.arrow {
  width: 25px;
  height: 25px;
}

.map_navigation .next_event a.next_arrow {
  margin-left: 4px;
  background: url(/images/next-arrow.png) top left no-repeat;
}

.map_navigation .prev_event a.prev_arrow {
  margin-right: 4px;
  background: url(/images/prev-arrow.png) top left no-repeat;
}

/* photo albums */
ul.photo_albums {
  margin-left: 4px;
}

ul.photo_albums li.photo_album {
  float: left;
  margin: 0px;
  border: 2px solid transparent;
  padding: 8px;
}

ul.photo_albums li.photo_album:hover {
  border: 2px outset #9E3E0E;
  background-color: #fff;
  box-shadow: 0px 0px 5px #eb6929;
  -moz-box-shadow: 0px 0px 5px #eb6929;
  -webkit-box-shadow: 0px 0px 5px #eb6929;
}

ul.photo_albums li.photo_album h2 {
  font-size: 16px;
}

/* photos */
ul.photos {
  float: left;
  clear: left;
}

li.photo {
  float: left;
  margin: 0px;
  border: 2px solid transparent;
  padding: 8px 10px;
  text-align: center;
  cursor: pointer;
}

ul.photos li.photo.ui-selected, ul.photos li.photo:hover,
li.photo.ui-draggable-dragging {
  border: 2px outset #9E3E0E;
  background-color: #fff;
  box-shadow: 0px 0px 5px #eb6929;
  -moz-box-shadow: 0px 0px 5px #eb6929;
  -webkit-box-shadow: 0px 0px 5px #eb6929;
}

ul.photos li.photo.ui-draggable-dragging {
  z-index: 100;
}

/* flash */
#flash-notice, #flash-alert, #flash-error, #flash-success { padding: 3px 10px; font-weight: bold; text-align: center; }
#flash-notice { color: black; background-color: #fff1a8; }
#flash-error, #flash-alert { color: white; background-color: #cc0000; }
#flash-success { color: black; background-color: #e6efc2; }