/* CSS reset (adapted from Blueprint CSS 0.81) */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }
/* Remove quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* Remove border on linked images. */
a img { border: none; }

ul li, ol li, img { vertical-align: bottom; } /* IE6-7 margin bugfix */
/* end CSS reset */

h1, h2, h3, h4, h5, h6, p { margin: 6px 0 0 0; }
body { line-height: 1.5; }

/* Main application stylesheet */
/* general tag styles */
body {
  background-color: #f8e9e1;
  text-align: center;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #000;
  margin: 0px;
}

li, dd, blockquote { margin-left: 0px; list-style: none; }

a, a:visited { color: #5f5f5f; text-decoration: underline; }
a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6 { font-size: 14px; font-weight: bold; color: #eb6929; line-height: 1; margin-bottom: 0.5em; }
h1 { font-size: 24px; }
h2 { font-size: 20px; }
td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: left; font-weight: bold; }

/* useful general styles */
.hide { display: none; }
.bold { font-weight: bold; }
.left { float: left; }
.clear { clear: both; }
.center  { text-align: center; }
ol.alpha { list-style-type: lower-alpha; }

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-binding: url('ellipsis.xml#ellipsis');
    display: block;
}

/* general form style */
form {
  width: 300px;
}
form li {
  margin-bottom: 5px;
}

form li label {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
}

form li input[type=text], form li input[type=password] {
  width: 100%;
  color: #222;
  line-height: 140%;
  font-size: 18px;
}

form li input[type=text]:focus, form li input[type=password]:focus {
  background: #f8e9e1;
}

form li textarea {
  font-size: 18px;
  padding: 4px;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

form input[type=submit] {
  color: #eb6929;
  background-color: #fff;
  border: 1px outset #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
}


/* outer container styles */
#header-wrapper, #wrapper {
  margin: auto;
  margin-top: 0px;
  width: 960px;
  overflow: hidden;
}

#wrapper {
  position: relative;
  top: -4px;
  width: 970px;
  padding: 5px;
}

/* header */
#header-outer {
  background: transparent url(/images/header-bg.png) top left repeat-x;
  height: 64px;
  border-bottom: 1px solid #616161;
  box-shadow: 0px 0px 3px #000;
  -moz-box-shadow: 0px 0px 3px #000;
  -webkit-box-shadow: 0px 0px 3px #000;
}

#header {
  width: 960px;
  height: 64px;
  text-align: left;
  position: relative;
  z-index: 500;
  overflow: hidden;
}

#header #logo {
  float: left;
  background: transparent url(/images/logo.png) top left no-repeat;
  width: 124px;
  height: 46px;
  margin-top: 9px;
  text-indent: -999em;
}

/* content_for_layout container */
#main-content {
  width: 960px;
  min-height: 500px;
  color: #696969;
  text-align: left;
  background: #efefef url(/images/main-content-gradient-bg.png) bottom left repeat-x;
  border: 1px solid #cdcccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: relative;
  z-index: 5;
  margin-top: -4px;
}

#main-content-inner {
  width: 940px;
  padding: 10px 10px;
  overflow: hidden;
}

#sidebar {
  width: 250px;
  padding: 7px 10px;
  float: right;
}

/* navbar */
#main-navbar {
  position: absolute;
  bottom: 8px;
  right: 0px;
}

#main-navbar li {
  float: left;
  display: inline-block;
  margin: 0px 4px;
}

#main-navbar li a {
  color: #aaa;
  text-decoration: none;
  background-color: #222;
  border: 1px inset #000;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 12px;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#main-navbar li a:hover {
  color: #fff;
  background-color: #eb6929;
  border: 1px outset #e66323;
  text-decoration: none;
}

/* other stuff */
#none_found {
  font-size: 28px;
  text-align: center;
  color: #efefef;
  width: 60%;
  margin: 40px auto;
  padding: 10px 0px;
  background-color: #eb6929;
  border: 1px outset #e66323;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#none_found a {
  color: #efefef;
}

/* trip show */
#trip_details_actions {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eb6929;
  padding: 10px 0px;
  margin-bottom: 20px;
}

#trip_actions {
  right: 20px;
  top: 0px;
  height: 30px;
  position: absolute;
}

.trip_button {
  float: right;
  margin-left: 10px;
  display: block;
  text-indent: -999em;
}

#play_trip_button {
  background: transparent url(/images/play_button-off.png) top left no-repeat;
  width: 98px;
  height: 30px;
}

#play_trip_button:hover, #play_trip_button:active {
  background-image: url(/images/play_button-on.png);
}

#share_trip_button {
  background: transparent url(/images/share_button-off.png) top left no-repeat;
  width: 120px;
  height: 30px;
}

#share_trip_button:hover, #share_trip_button:active {
  background-image: url(/images/share_button-on.png);
}

/* event list */
ul#events>li {
  margin: 10px 0px;
  padding: 0px 10px 0px 20px;
  width: 330px;
  background: #eaebeb url(/images/handle-bg.png) top left repeat-y;
  position: relative;
  border: 2px solid #666565;
  border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}

ul#events>li .handle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 15px;
  height: 100%;
  cursor: move;
}

ul#events>li .event_id {
  display: none;
}

ul#events>li .ajax_loading {
  background: transparent url(/images/ajax-loader.gif) center center no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
}

ul#events>li.reloading .ajax_loading {
  display: block;
}

ul#events>li.reloading {
  opacity: 0.4;
}

ul#events>li:hover, ul#events>li:active {
  border-color: #eb6929;
}

ul#events .form_buttons {
  position: absolute;
  bottom: 0px;
  right: 8px;
}

ul#events form {
  width: 100%;
}

ul#events form li {
  float: left;
  width: 300px;
}

ul#events form li input[type=text] {
  width: 100%;
}

ul#events li.datetime_picker {
  float: left;
  width: 145px;
}

ul#events input.datetime_picker {
  width: 100%;
  font-size: 13px;
}

ul#events li.datetime_picker.dates_separator {
  width: auto;
  font-size: 11px;
  margin: 0px 5px;
  line-height: 20px;
  text-align: center;
}

/* anytime datepicker overrides */
.AnyTime-win {
  z-index: 3000;
}

/* maps */
#event_points, #map_mode {
  display: none; 
}

body#body-trips-show #map_wrapper {
  float: right;
  width: 480px;
  margin-right: 10px;
}

body#body-trips-show #map {
  width: 480px;
  height: 480px;
  border: 1px inset #e66323;
}

body#body-trips-play #main-content {
  height: 60px;
  min-height: 60px;
}

body#body-trips-play #map {
  width: 100%;
  position: absolute;
  top: 64px;
  z-index: -1 !important;
}

body#body-trips-play #event_info_window {
  width: 350px;
  max-height: 700px;
  background-color: #efefef;
  border: 1px solid #cdcccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  position: absolute;
  right: 30px;
  top: 200px;
}

body#body-trips-play .map_navigation {
  display: none;
  border: 1px solid #000;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  box-shadow: 0px 0px 2px #777571; -moz-box-shadow: 0px 0px 2px #777571; -webkit-box-shadow: 0px 0px 2px #777571;
  height: 30px;
  width: 640px;
  padding: 10px;
  background-color: #777571;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -320px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(115,115, 115)), color-stop(1, rgb(106,106,106)));
  background: -moz-linear-gradient(center bottom, rgb(115,115,114) 0%, rgb(106,106,106) 100%);
}

body#body-trips-play .map_navigation.active {
  display: block;
}

.map_navigation .event_nav_button {
  float: left;
  width: 160px;
  height: 25px;
  float: left;
  padding: 0px;
  margin-top: 2px;
}


.map_navigation .event_nav_button a {
  float: left;
  color: #e3e3e3;
  line-height: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.map_navigation .event_nav_button a.arrow {
  display: inline-block;
}

.map_navigation .event_nav_button .name {
  width: 131px;
}

.map_navigation .current_event {
   width: 320px;
   float: left;
}

.map_navigation .current_event h2, .map_navigation .current_event h2 a {
  color: #e3e3e3;
  margin: 0px;
  font-size: 24px;
  text-decoration: none;
}

.map_navigation .current_event .time {
  color: #e3e3e3;
  margin: 0px;
  font-size: 11px;
}

.map_navigation .current_event_id, .map_navigation .event_id  { display: none; }

.map_navigation .next_event {
  text-align: right;
}

.map_navigation a.arrow {
  width: 25px;
  height: 25px;
}

.map_navigation .next_event a.next_arrow {
  margin-left: 4px;
  background: url(/images/next-arrow.png) top left no-repeat;
}

.map_navigation .prev_event a.prev_arrow {
  margin-right: 4px;
  background: url(/images/prev-arrow.png) top left no-repeat;
}

/* flash */
#flash-notice, #flash-error, #flash-success { padding: 3px 10px; font-weight: bold; text-align: center; }
#flash-notice { color: black; background-color: #fff1a8; }
#flash-error { color: white; background-color: #cc0000; }
#flash-success { color: black; background-color: #e6efc2; }