%ul
  %li
    %a.auth_provider{:href => "/auth/twitter"}
      = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
      %br/
      Twitter
  %li
    %a.auth_provider{:href => "/auth/facebook"}
      = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
      %br/
      Facebook
  %li
    %a.auth_provider{:href => "/auth/google_apps"}
      = image_tag "google_apps_64.png", :size => "64x64", :alt => "Google"
      %br/
      Google
  %li
    %a.auth_provider{:href => "/auth/open_id"}
      = image_tag "open_id_64.png", :size => "64x64", :alt => "OpenID"
      %br/
      OpenID