%h1 Sign In Options
- if @authentications
  - unless @authentications.empty?
    %p
      %strong You have signed in with these services:
    #authentications.plain= render_cell :providers, :list, :only_authentications => @authentications
  %p
    %strong Add another service to sign in with:
- else
  %p
    %strong Sign in through one of these services:
#authentications.plain= render_cell :providers, :list, :except_authentications => @authentications

- unless user_signed_in?
  %p
    %strong Don't use these services?
    = link_to "Sign up", new_user_registration_path
    or
    \#{link_to "sign in", new_user_session_path} with a password.
