#intro
  TripForge is an online tool for creating interactive maps of your trips.
  %br
  Plot every event in the journey on a map.
  %br
  Add photos and updates from other websites.
  %br
  Share the map with your friends.

#get-started
  = link_to 'Get Started!', new_user_registration_path