- selected_provider ||= nil
%ul#photo_providers_tabs
  - providers.each do |provider|
    - class_name = (selected_provider == provider ? ' ui-tabs-selected ui-state-active' : '')
    %li{:class => class_name}
      = link_to image_tag("#{provider.code}_small.png", :alt => provider.name), '#photo_provider_tab_'+provider.code

- providers.each do |provider|
  %div{:id => 'photo_provider_tab_'+provider.code, :class => 'photo_provider_area'}    