- selected_provider ||= nil
%ul#photo_providers_tabs
  - providers.each do |provider|
    - class_name = (selected_provider == provider ? ' ui-tabs-selected ui-state-active' : '')
    %li{:class => class_name}
      = link_to image_tag("#{provider.code}_small.png", :alt => provider.name), '#photo_provider_tab_'+provider.code

- providers.each do |provider|
  %div{:id => 'photo_provider_tab_'+provider.code}
    - if current_user.has_credential_for?(provider)
      = render_cell :providers, :albums, :provider => provider
    - else
      -# show iframe that will connect to the service
      %iframe{:src => connect_provider_path(provider), :height => 440, :width => 440, :seamless => 'seamless'}
      -# import_from_provider_story_scene_items_path(:story_id => @scene.story.id, :scene_id => @scene.id, :id => provider)