- if (image_url = photo.thumbnail_url).present?
  - large_image_url = photo.image_url(400)
  = link_to large_image_url do
    = image_tag image_url
  %p
    = photo.title
    = render :partial => 'items/remove_item_from_event', :locals => {:item => photo}
- else
  no thumbnail